/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --paragraph-text-color: #F1B2CE;
  --paragraph-title-color: #000028;
  --header-paragraph-color: #000028;
  --paragraph-title-background-color: #FF0070;
  --section-title-color: #FF0070;
  --navigation-text-color: #FF0070;
  --navigation-text-color-hover: #FF007066;
  --header-title-color: #DB00FF;
  --accent-color: #FF0070;
  --header-title-shadow-color: #FF0070;

  --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.theme_dark .decoration__block {
  display: flex;
}

@media (width >= 768px) {
  :root {
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
